<div *ngIf="zones.length > 0">
    <table>
      <thead>
        <tr>
          <th>Zone Name</th>
          <th>Koordinate</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let zone of zones">
          <tr (click)="selectZone(zone)">
           
            <td>{{ zone.name }}</td>
          
            <td>
              <ng-container *ngFor="let point of zone.points; let i = index">
                {{ i + 1 }}. x: {{ point.x }}; y: {{ point.y }}<span *ngIf="i < zone.points.length - 1">, </span>
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  
  <div *ngIf="zones.length === 0">
    <p>No zones available</p>
  </div>
  