<div class="zone-management-container">
  <div class="zone-form-container">
    <!-- Prosljeđivanje zone i emitiranje ažuriranja -->
    <app-zone-form [zone]="selectedZone" (zoneUpdated)="onZoneUpdated($event)"></app-zone-form>
  </div>
  
  <div class="zone-drawing-container">
    <!-- Prosljeđivanje zone i emitiranje ažuriranja -->
    <app-zone-drawing [zone]="selectedZone" (zoneUpdated)="onZoneUpdated($event)"></app-zone-drawing>
  </div>
  
  <div class="zone-list-container">
    <!-- Odabir zone -->
    <app-zone-list (zoneUpdated)="onZoneUpdated($event)"></app-zone-list>
  </div>
</div>
